<p>Halo <%=Name%>,</p>
<br/>
<p>Terima kasih sudah mendaftarkan diri anda</p>
<p> Untuk mengaktifkan akun anda, silahkan klik link ini:
    <br>
    <a href="<%=Url%>/activation/<%=VerificationNumber%>" target="_blank">Aktivasi</a>
    <br>
    atau copy link berikut dan buka di browser anda: 
    <br>
    <%=Url%>/activation/<%=VerificationNumber%>
</p>